{% extends 'navbar.html' %}

{% block title %}
Deja tu testimonio
{% endblock title %}

{% block content %}

<div id="descripcion" class="container">
    <h1>Deja tu testimonio ¿Cómo fue trabajar con nosotros?</h1>

    <form action="/exitotestimonio" method="POST" autocomplete="off"> {% csrf_token %}

    <div class="form-group">
      <label for="exampleInputEmail1">Ingrese su nombre</label>
      <input type="text" class="form-control" id="exampleText" placeholder="ej: Juan Pérez" name="inputText">
    </div>

    

    <div class="form-group">
      <label for="exampleInputEmail1">Ingrese email</label>
      <input type="email" class="form-control" id="exampleEmail" placeholder="ej: juan@mail.com" name="inputEmail">
    </div>



   <div class="form-group">
      <label for="exampleFormControlTextarea">Testimonio</label>
      <textarea class="form-control" id="exampleFormControlTextarea" rows="3"></textarea>
    </div>


    <div class="form-group">
    <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  
  </form>
       
</div>

{% endblock content %}
